html, body, #root {
    margin:0;
    height:100vh;
}

body p {
    margin:0;
}

.app-screen {
    display:flex;
    flex-direction:column;
    height:100%;
}

.top-bar {
    background-color:black;
    height:10%;
}

.top-screen {
    flex: 1;
}

* {
    outline:1px solid red;
}


