.registar-form {
    display:flex;
    justify-content:center;
    align-items:center;
    height:50%;
    width:50%;
    margin: 10% 25%;
    flex-direction:column;
}

.email {
    width:250px;
    margin-bottom:15px;
}

.password {
    width:250px;
    margin-bottom:40px;
}

.select-mode {
    margin-top: 30px;
    background: none;
    border:none;
    color: rgb(81, 177, 246);
    border-bottom: 1px solid rgb(81, 177, 246);
    
}

.submit-button {
    height:40px;
    width:150px;
    border-radius: 7px;
    background-color: rgba(107, 190, 250, 0.661);
    font-size:20px;
    border:none;
    margin-left:120px;

}

.select-mode:hover {
    background-color:rgba(224, 224, 224, 0.592)    
}

.error-message {
    color:rgb(240, 93, 60);
}

.mode-name {
    color:rgb(11, 10, 10);
    font-size: 25px;
    text-align:center;
    margin-bottom:30px;
}

.show-password {
    width:43px;
    border-radius:4px;   
}

.select-mode-name {
    text-align:center;
}