.user-name {
    position:absolute;
    background:none;
    border:none;
    color:white;
    top:20px;
    font-size:20px;
}

.user-name:hover {
    background:rgba(239, 238, 238, 0.78); 
}

.panel {
    flex:1;
}

.panel button {
    width:100%;
}

.screen {
    display:flex;
    height:100%;
}

.mein-screen {
    display:flex;
    justify-content:center;
    align-items:center;
    flex:3;
}
